@import url('https://fonts.googleapis.com/css2?family=Poppins');


*{
  padding: 0;
  margin: 0;
  
}
img{
  width: 80%;
}
body{
  font-family: Poppins;
}
h1{
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 10px;
}
p{
  color: dimgray;
}
.head-line{
  font-size: 55px;

}
.name-one{
  color: tomato;
}

.top-banner{
  background-image: url("media/top-banner.png");
  background-repeat: no-repeat;
}  
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width h3{
  margin-bottom: 10px;
}
section{
  height: 500px;
  padding-bottom: 150px;
}
.hire-btn{
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 158, 141), tomato);
  padding: 10px 20px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
}
.hire-btn:hover{
  transition: 0.5s;
  background: whitesmoke;
  color: black;
  border: 2px solid tomato;
  border-radius: 10px;
}
.dream-area{
  background-image: url("media/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  float: left;
  
}
.single-experience{
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
  height: 65%;
  background-color: #ffffff;
}
.experience-area{
  background-image: url("media/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 30%;
}
#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby-web{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p{
  text-align: center;
  font-size: 14px;
  padding: 25px 25px;
  color: #000;
  background-color: tomato;
}